
##NEON DB CONNECTION
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"

##PORT LOCALHOST
PORT=3000

##AUTHENTICATION
JWT_SECRET="your-jwt-secret"

##NODEMAILER CONNECTION:
EMAIL_APP_PASSWORD=26FkyedmrGGiCrRfiW4WFMxx
EMAIL_USER=gethealth.server@gmail.com
